*{
    margin: 0px;
    padding: 0px;
}

section{
    display: grid;
    place-items:center;
    width: 100vw;
    height: 100vh;
}
.item{
    margin:5px;
}

.button{
    height: 34px;
    width: 200px;
    border: 1px solid rgb(5, 55, 161);
    border-radius: 5px;
    background-color: blanchedalmond;
    margin-top: 14px;

}